<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idea.nursing.order.web.dao.EvaluateMapper" >
  <resultMap id="BaseResultMap" type="com.idea.nursing.order.web.domain.pojo.Evaluate" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="evaluate_name" property="evaluateName" jdbcType="VARCHAR" />
    <result column="evaluate_grade_max" property="evaluateGradeMax" jdbcType="TINYINT" />
    <result column="evaluate_grade_min" property="evaluateGradeMin" jdbcType="TINYINT" />
    <result column="span_value" property="spanValue" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, evaluate_name, evaluate_grade_max, evaluate_grade_min, span_value
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.idea.nursing.order.web.domain.pojo.EvaluateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dd_evaluate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dd_evaluate
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dd_evaluate
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.idea.nursing.order.web.domain.pojo.EvaluateExample" >
    delete from dd_evaluate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.idea.nursing.order.web.domain.pojo.Evaluate" useGeneratedKeys="true" keyProperty="id" >
    insert into dd_evaluate (evaluate_name, evaluate_grade_max, evaluate_grade_min, 
      span_value)
    values (#{evaluateName,jdbcType=VARCHAR}, #{evaluateGradeMax,jdbcType=TINYINT}, #{evaluateGradeMin,jdbcType=TINYINT}, 
      #{spanValue,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.idea.nursing.order.web.domain.pojo.Evaluate" useGeneratedKeys="true" keyProperty="id" >
    insert into dd_evaluate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="evaluateName != null" >
        evaluate_name,
      </if>
      <if test="evaluateGradeMax != null" >
        evaluate_grade_max,
      </if>
      <if test="evaluateGradeMin != null" >
        evaluate_grade_min,
      </if>
      <if test="spanValue != null" >
        span_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="evaluateName != null" >
        #{evaluateName,jdbcType=VARCHAR},
      </if>
      <if test="evaluateGradeMax != null" >
        #{evaluateGradeMax,jdbcType=TINYINT},
      </if>
      <if test="evaluateGradeMin != null" >
        #{evaluateGradeMin,jdbcType=TINYINT},
      </if>
      <if test="spanValue != null" >
        #{spanValue,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.idea.nursing.order.web.domain.pojo.EvaluateExample" resultType="java.lang.Integer" >
    select count(*) from dd_evaluate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dd_evaluate
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.evaluateName != null" >
        evaluate_name = #{record.evaluateName,jdbcType=VARCHAR},
      </if>
      <if test="record.evaluateGradeMax != null" >
        evaluate_grade_max = #{record.evaluateGradeMax,jdbcType=TINYINT},
      </if>
      <if test="record.evaluateGradeMin != null" >
        evaluate_grade_min = #{record.evaluateGradeMin,jdbcType=TINYINT},
      </if>
      <if test="record.spanValue != null" >
        span_value = #{record.spanValue,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dd_evaluate
    set id = #{record.id,jdbcType=BIGINT},
      evaluate_name = #{record.evaluateName,jdbcType=VARCHAR},
      evaluate_grade_max = #{record.evaluateGradeMax,jdbcType=TINYINT},
      evaluate_grade_min = #{record.evaluateGradeMin,jdbcType=TINYINT},
      span_value = #{record.spanValue,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.idea.nursing.order.web.domain.pojo.Evaluate" >
    update dd_evaluate
    <set >
      <if test="evaluateName != null" >
        evaluate_name = #{evaluateName,jdbcType=VARCHAR},
      </if>
      <if test="evaluateGradeMax != null" >
        evaluate_grade_max = #{evaluateGradeMax,jdbcType=TINYINT},
      </if>
      <if test="evaluateGradeMin != null" >
        evaluate_grade_min = #{evaluateGradeMin,jdbcType=TINYINT},
      </if>
      <if test="spanValue != null" >
        span_value = #{spanValue,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.idea.nursing.order.web.domain.pojo.Evaluate" >
    update dd_evaluate
    set evaluate_name = #{evaluateName,jdbcType=VARCHAR},
      evaluate_grade_max = #{evaluateGradeMax,jdbcType=TINYINT},
      evaluate_grade_min = #{evaluateGradeMin,jdbcType=TINYINT},
      span_value = #{spanValue,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>