.classify-body .ify-title{
    width: 97%; margin-left: 1%; background-color: #374862; height: 35px;color:#fff;
}

.classify-body  div{
    line-height: 32px;
}

.classify-body  .ify-left{
    width: 20%; float: left; text-align: left;margin-left: 10%;
}
.classify-body  .ify-left2{
    width: 20%; float: left; text-align: left;margin-left: 11%;
}
.classify-body  .ify-left3{
    width: 20%; float: left; text-align: left;margin-left: 12%;
}
.classify-body  .ify-right{
    width: 35%; float: right; text-align: center;
}
.classify-body a{
    color: #000;text-decoration: none!important; cursor: pointer; margin-left: 10px;

}
.classify-body a:hover{
    color:#ff743d;

}
.classify-body .one{
    color:#000;
}

/*树样式*/
#ify-show li {
    background-color: #EDE8EC;
    margin-left: 1%;
    width: 97%;
}
#ify-show li cc {
    position: absolute;
    right: 0;
    margin-right: 2%;
}
#ify-show li cc a{
    margin: 0 10px 0 0;
}
#ify-show li a{

    margin-left: 10%;
}
