#cost-pack{
    width: 97%; margin-left: 1%; padding: 20px 1%;
}

.cost-box{
    width: 120px;
    height: 40px;
    background-color: #374862;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
    position: relative;
    transition: .3s;
    margin: 10px 1%;
    float: left;
    color:#fff;
    cursor: pointer;
}
.cost-box:hover{
    box-shadow:0px 0px 2px  #FF4B01;
}
.cost-box:hover  #cost-del{
    opacity: 1;
}
.cost-box #cost-del {
    position: absolute; right: 0px; top: 0px; color: red;cursor: pointer; opacity: 0; transition: .5s;
}
.typeStyle{
    height: 80%;
    float: left;
    margin-top: 5px;
    background-color: #7E7E7E;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}
.typeStyle:hover{
    background-color: #00b7ee!important;
}
#radioValue{
    margin-left: 20px;
    border-top-left-radius: 5px;
}
#checkValue{
    border-top-right-radius: 5px;
}
.backColor{
    background-color: #00b7ee!important;
}