.webuploader-container {
    position: relative;
    display: flex;
    margin: 20px 0px 20px 50px;
}
.webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: #2b3949;
    width:100px;
    height:30px;
    border-radius: 5px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    overflow: hidden;
}


.webuploader-pick-hover {
    background: #FF743D;
}

.webuploader-container input{
    background: #2b3949;
    width:100px;
    height:30px;
    border-radius: 5px;
    color:#fff;
    border:0px;
    margin-left:200px;
}

.webuploader-container input:hover{
    background: #FF743D;
}


.webuploader-pick-disable {
    opacity: 0.6;
    pointer-events:none;
}

