<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idea.nursing.servicemodule.web.dao.ServicePackStateMapper" >
  <resultMap id="BaseResultMap" type="com.idea.nursing.servicemodule.web.domain.pojo.ServicePackState" >
  <id column="id" property="id" jdbcType="BIGINT" />
  <result column="service_pack_id" property="servicePackId" jdbcType="BIGINT" />
  <result column="service_pack_state" property="servicePackState" jdbcType="TINYINT" />
  <result column="service_pack_on_line_date" property="servicePackOnLineDate" jdbcType="TIMESTAMP" />
  <result column="service_count" property="serviceCount" jdbcType="BIGINT" />


</resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, service_pack_id, service_pack_state, service_pack_on_line_date, service_count
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.idea.nursing.servicemodule.web.domain.pojo.ServicePackStateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ff_service_pack_state
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ff_service_pack_state
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ff_service_pack_state
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.idea.nursing.servicemodule.web.domain.pojo.ServicePackStateExample" >
    delete from ff_service_pack_state
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.idea.nursing.servicemodule.web.domain.pojo.ServicePackState" useGeneratedKeys="true" keyProperty="id" >
    insert into ff_service_pack_state (service_pack_id, service_pack_state, service_pack_on_line_date, 
      service_count)
    values (#{servicePackId,jdbcType=BIGINT}, #{servicePackState,jdbcType=TINYINT}, #{servicePackOnLineDate,jdbcType=TIMESTAMP}, 
      #{serviceCount,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.idea.nursing.servicemodule.web.domain.pojo.ServicePackState" useGeneratedKeys="true" keyProperty="id" >
    insert into ff_service_pack_state
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="servicePackId != null" >
        service_pack_id,
      </if>
      <if test="servicePackState != null" >
        service_pack_state,
      </if>
      <if test="servicePackOnLineDate != null" >
        service_pack_on_line_date,
      </if>
      <if test="serviceCount != null" >
        service_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="servicePackId != null" >
        #{servicePackId,jdbcType=BIGINT},
      </if>
      <if test="servicePackState != null" >
        #{servicePackState,jdbcType=TINYINT},
      </if>
      <if test="servicePackOnLineDate != null" >
        #{servicePackOnLineDate,jdbcType=TIMESTAMP},
      </if>
      <if test="serviceCount != null" >
        #{serviceCount,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.idea.nursing.servicemodule.web.domain.pojo.ServicePackStateExample" resultType="java.lang.Integer" >
    select count(*) from ff_service_pack_state
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ff_service_pack_state
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.servicePackId != null" >
        service_pack_id = #{record.servicePackId,jdbcType=BIGINT},
      </if>
      <if test="record.servicePackState != null" >
        service_pack_state = #{record.servicePackState,jdbcType=TINYINT},
      </if>
      <if test="record.servicePackOnLineDate != null" >
        service_pack_on_line_date = #{record.servicePackOnLineDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.serviceCount != null" >
        service_count = #{record.serviceCount,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ff_service_pack_state
    set id = #{record.id,jdbcType=BIGINT},
      service_pack_id = #{record.servicePackId,jdbcType=BIGINT},
      service_pack_state = #{record.servicePackState,jdbcType=TINYINT},
      service_pack_on_line_date = #{record.servicePackOnLineDate,jdbcType=TIMESTAMP},
      service_count = #{record.serviceCount,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.idea.nursing.servicemodule.web.domain.pojo.ServicePackState" >
    update ff_service_pack_state
    <set >
      <if test="servicePackId != null" >
        service_pack_id = #{servicePackId,jdbcType=BIGINT},
      </if>
      <if test="servicePackState != null" >
        service_pack_state = #{servicePackState,jdbcType=TINYINT},
      </if>
      <if test="servicePackOnLineDate != null" >
        service_pack_on_line_date = #{servicePackOnLineDate,jdbcType=TIMESTAMP},
      </if>
      <if test="serviceCount != null" >
        service_count = #{serviceCount,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.idea.nursing.servicemodule.web.domain.pojo.ServicePackState" >
    update ff_service_pack_state
    set service_pack_id = #{servicePackId,jdbcType=BIGINT},
      service_pack_state = #{servicePackState,jdbcType=TINYINT},
      service_pack_on_line_date = #{servicePackOnLineDate,jdbcType=TIMESTAMP},
      service_count = #{serviceCount,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>