<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idea.nursing.bed.web.dao.RoomTypeMapper" >
  <resultMap id="BaseResultMap" type="com.idea.nursing.bed.web.domain.pojo.RoomType" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="room_type_name" property="roomTypeName" jdbcType="VARCHAR" />
    <result column="room_type_leave" property="roomTypeLeave" jdbcType="TINYINT" />
    <result column="tid" property="tid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, room_type_name, room_type_leave, tid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.idea.nursing.bed.web.domain.pojo.RoomTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from jg_cw_room_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from jg_cw_room_type
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from jg_cw_room_type
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.idea.nursing.bed.web.domain.pojo.RoomTypeExample" >
    delete from jg_cw_room_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.idea.nursing.bed.web.domain.pojo.RoomType" useGeneratedKeys="true" keyProperty="id" >
    insert into jg_cw_room_type (room_type_name, room_type_leave, tid
      )
    values (#{roomTypeName,jdbcType=VARCHAR}, #{roomTypeLeave,jdbcType=TINYINT}, #{tid,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.idea.nursing.bed.web.domain.pojo.RoomType" useGeneratedKeys="true" keyProperty="id" >
    insert into jg_cw_room_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roomTypeName != null" >
        room_type_name,
      </if>
      <if test="roomTypeLeave != null" >
        room_type_leave,
      </if>
      <if test="tid != null" >
        tid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roomTypeName != null" >
        #{roomTypeName,jdbcType=VARCHAR},
      </if>
      <if test="roomTypeLeave != null" >
        #{roomTypeLeave,jdbcType=TINYINT},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.idea.nursing.bed.web.domain.pojo.RoomTypeExample" resultType="java.lang.Integer" >
    select count(*) from jg_cw_room_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update jg_cw_room_type
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.roomTypeName != null" >
        room_type_name = #{record.roomTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.roomTypeLeave != null" >
        room_type_leave = #{record.roomTypeLeave,jdbcType=TINYINT},
      </if>
      <if test="record.tid != null" >
        tid = #{record.tid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update jg_cw_room_type
    set id = #{record.id,jdbcType=BIGINT},
      room_type_name = #{record.roomTypeName,jdbcType=VARCHAR},
      room_type_leave = #{record.roomTypeLeave,jdbcType=TINYINT},
      tid = #{record.tid,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.idea.nursing.bed.web.domain.pojo.RoomType" >
    update jg_cw_room_type
    <set >
      <if test="roomTypeName != null" >
        room_type_name = #{roomTypeName,jdbcType=VARCHAR},
      </if>
      <if test="roomTypeLeave != null" >
        room_type_leave = #{roomTypeLeave,jdbcType=TINYINT},
      </if>
      <if test="tid != null" >
        tid = #{tid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.idea.nursing.bed.web.domain.pojo.RoomType" >
    update jg_cw_room_type
    set room_type_name = #{roomTypeName,jdbcType=VARCHAR},
      room_type_leave = #{roomTypeLeave,jdbcType=TINYINT},
      tid = #{tid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>